
  
  a {
    text-decoration: none;
  }
  
  .calendar-container {
    display: flex;
  align-items: center;
  justify-content: center;
  perspective: 1000px;
  height: 100vh; 
  }
  
  .calendar {
    position: relative;
    width: 40rem;
    height: 35rem;
    perspective: 1000;
    transform-style: preserve-3d;
    transition: transform 0.6s ease;
  }
  
  .calendar-container.flip .calendar {
    transform: rotateY(180deg);
  }
  
  .front,
  .back {
    position: absolute;
    height: 100%;
    backface-visibility: hidden;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    border-radius: 8px;
    overflow: hidden;
  }
  
  .front {
    padding: 4rem;
    backface-visibility: hidden; 

    background: #07202B;
    transform: rotateY(0deg); /* Default orientation */
  }
  
  .back {
    background: #ffecb3;
    transform: rotateY(180deg); /* Flips the back */
    backface-visibility: hidden; 
    width: 100%;

  }
  
  /* Front styles */
  .current-date {
    border-bottom: 1px solid rgba(73, 114, 133, 0.6);
    display: flex;
    justify-content: space-between;
    padding: 20px;
    color: #dfebed;
  }
  
  .current-date h1 {
    color: #c2b09a;
    font-size: 1.4em;
    font-weight: 300;
  }
  
  .week-days {
    display: flex;
    justify-content: space-between;
    padding: 20px;
    font-weight: 600;
    color: #c2b09a;
  }
  
  .days,
  .weeks {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    padding: 20px;
    color: #c2b09a;
  }
  
  .weeks div {
    display: flex;
    justify-content: space-between;
    width: 100%;
    margin-bottom: 10px;
  }
  
  .weeks span {
    display: inline-block;
    padding: 10px;
    text-align: center;
    cursor: pointer;
  }
  
  .weeks span.active {
    background: #6b4b28;
    border-radius: 50%;
  }
  
  .weeks span:hover {
    font-weight: bold;
  }
  
  .last-month {
    opacity: 0.3;
  }
  
  .event {
    position: relative;
  }
  
  .event:after {
    content: '•';
    color: #c2b09a;
    font-size: 1.4em;
    position: absolute;
    right: -4px;
    top: -4px;
  }
  
  /* Back styles */
  .back input {
    width: 80%;
    padding: 10px;
    margin: 10px 0;
    border: none;
    border-bottom: 1px solid rgba(73, 114, 133, 0.6);
    background: transparent;
    color: #c2b09a;
    font-size: 1.2em;
  }
  
  .info {
    width: 80%;
    text-align: left;
    margin-top: 20px;
    font-weight: bold;
  }
  
  .info p {
    margin: 10px 0;
    font-size: 1em;
  }
  
  .info span {
    font-weight: 300;
  }
  
  .actions {
    margin-top: auto;
    width: 100%;
    display: flex;
    border-top: 1px solid rgba(73, 114, 133, 0.6);
  }
  

 
  
  /* Dismiss button */
  
  
  /* Flip animation */
  .flip {
    transform: rotateY(180deg);
  }


/* Reset transformations for back-side content */
.back * {
  transform: rotateY(180deg);
}



.controls button {
  position: absolute;
  top: 5.5rem;
  background: transparent;
  border: none;
  color: #fff; 
  cursor: pointer; 
  padding: 1rem; 
  border-radius: 50%;
  width: 50px;
  height: 50px; 
  margin: 4rem;
}
