#hero01 {
    position: absolute;
    top: 23rem;
    left: 26.5rem;
    font-size: small;
    font-family: 'Trebuchet MS', sans-serif;
    overflow: hidden; 
}

#hero01 h1 {
    margin-top: 0;
    font-size: 2rem;
    background: linear-gradient(90deg, #a991755d 0%, #a99175 50%, #a991755d 100%);
    background-size: 200%;
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    animation: lightPass 20s linear infinite;
}

#hero02 {
    background: linear-gradient(90deg, #a9917597 0%, #a99175 50%, #a9917597 100%);
    background-size: 200%;
    width: 10rem;
    height: 2rem;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 0.5rem;
    font-family: 'Trebuchet MS', sans-serif;
    font-weight: bold;
    position: absolute;
    top: 28rem;
    left: 35rem;
    animation: lightPass 20s linear infinite;
    overflow: hidden;
    transition: transform 0.3s ease, box-shadow 0.3s ease;
    box-shadow: 0 0 20px rgba(169, 145, 117, 0.5); 
}

#hero02:hover {
    transform: scale(1.05); 
    box-shadow: 0 0 15px rgba(169, 145, 117, 0.5); 
}

.Carousel {
    height: 30rem;
    padding-left: 4rem;
}

.reviews {
    background-color: #07202B;
    height: 27rem;
    margin-top: 9rem;
    padding-top: 7rem;
    padding-bottom: 9rem;
}

#carouselH1 {
    position: absolute;
    top: 49rem;
    left: 46.5rem;
    font-size: 6.9rem;
    text-align: left;
}

/* Media Queries */
@media (max-width: 1200px) {
    #hero01 {
        top: 20rem;
        left: 20rem; /* Adjust as needed */
    }

    #hero02 {
        top: 25rem;
        left: 25rem; /* Adjust as needed */
        width: 8rem;
        height: 1.8rem;
    }

    #carouselH1 {
        top: 45rem;
        left: 40rem; /* Adjust as needed */
        font-size: 5rem;
    }
}

@media (max-width: 768px) {
    #hero01 {
        top: 18rem;
        left: 10rem; /* Adjust as needed */
        font-size: 1.5rem;
    }

    #hero02 {
        top: 22rem;
        left: 12rem; /* Adjust as needed */
        width: 7rem;
        height: 1.5rem;
    }

    #carouselH1 {
        top: 40rem;
        left: 30rem; /* Adjust as needed */
        font-size: 4rem;
    }
}

@media (max-width: 576px) {
    #hero01 {
        top: 15rem;
        left: 5rem; /* Adjust as needed */
        font-size: 1rem;
    }

    #hero02 {
        top: 18rem;
        left: 6rem; /* Adjust as needed */
        width: 6rem;
        height: 1.2rem;
    }

    #carouselH1 {
        top: 35rem;
        left: 15rem; /* Adjust as needed */
        font-size: 3rem;
    }
}
