button{
    margin: 10px auto; 

}

.createAccLink{
    cursor: pointer;
    text-decoration: underline;
}

.container{
    margin: 10px auto; /* Center the button */
}

.login {
    border: none;
    background-color: #07202B;
    color: #a99175;
  }

  input {
    border: 1px solid #a99175;
    background-color: #07202B;
    color: #a99175;
    border-radius: 0.5rem;
    padding: 0.8rem;
    font-size: 1rem;
  }
  
  input::placeholder {
    color: #a9917597;
  }
  
  /* Headings */
  h2 {
    color: #07202B;
  }
  
  /* Paragraphs */
  p {
    color: #a99175;
  }
  
  /* Error messages */
  p[style*="color: red"] {
    color: red !important; /* Preserve red for errors */
  }